body {
  font-family: 'Open Sans', 'regular';
  font-size: 0.9em;
  font-weight: 400;
}


header {
  background-image: url('../img/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 10rem;
}

.carousel-indicators {
  top: 100px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.supernav {
  background: #CD5C5C;
}

.rosado {
  text-align: center;
  color: #CD5C5C;
  font-family: 'Open Sans','regular';
  font-weight: 400;
  margin-top: 50px;
  padding-bottom: 1px;
}

.trabajitos {
  background: #FFA07A;
}

.laboral img {
  margin-left: 40%;
  max-width: 20%;
}

.laboral {
    display: inline-block;
    text-align: right;
}

.titulo {
  text-align: center;
  color: #CD5C5C;
  font-family: 'Open Sans', 'bold';
  font-weight: 700;
  margin top: 20px;
  padding-top: 80px;

}

.pinky {
  background: #eeeeee;
}



.final a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
}

.barra {
  border-width: 90%;
  height: 90%;
  border-style: solid;
  color: #eeeeee;

}
